body{
    background-image: url(/Imagens/UFC-Banner.jpg);
    background-size: cover;
}
#slider{
    width: auto;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: antiquewhite;
    border-radius: 20px 20px 20px 20px;
}
#slider img{
    min-width: 900px;
    min-height: 400px;
    max-width: 900px;
    max-height: 400px;
}
#como-entrar{
    padding-top: 20px;
    padding-bottom: 20px;
}